# Dependencies
node_modules/

# Build
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# Tauri / Rust
src-tauri/target/
src-tauri/gen/
src-tauri/WixTools/

# Test / coverage
coverage/
